*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --details-transition-time:400ms;
    --font-face:"Poppins",sans-serif;
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --font-size:18px;
    --font-weight-4:400;
    --font-weight-5:500;
    --z-index:999;
    --zz-index:-999;
    --gen-width:100%;
    --text-width:400px;
    --medium-text-width:350px;
    --pd-l:.9em;
    --pd-t:5em;
    --pd-b:1em;
    --pd-r:.9em;
}
a{
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}
ul li{
    list-style-type: none;
}
html{
    font-family: 'Rubik', sans-serif;
    outline: none;
 

}
img{
    width: 100%;
}
p{
    width: var(--medium-text-width);
    padding-top: var(--pd-b);
    color: var(--grayish-blue);
    font-size: 12px;
}
h1{
    width: var(--medium-text-width);
    color: var(--very-dark-blue);
    

}
h2,h3{
    color:var(--very-dark-blue);
}
.pd-l{
    padding-left: var(--pd-l);
}
.pd-t{
    padding-top: var(--pd-t);
}
.pd-r{
    padding-right: var(--pd-r);
}
.pd-b{
    padding-bottom: var(--pd-b);
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
button,.button{
    padding: 10px 19px;
    border-radius: 3px;
    cursor: pointer;
}
.ham{
    width: 25px;
}
.blue-bg{
    background-color: var(--soft-blue);
    position: absolute;
    right: 0;
    width: 300px;
    height: 200px;
    z-index: var(--zz-index);
    margin-top: 5em;
    border-top-left-radius: 5pc;
    border-bottom-left-radius: 5pc;
}
.button{
    background-color: var(--soft-red);
}
.show{
    display: flex;
}

  .tc{
      text-align: center;
  }
  .cont{
      display: flex;
      align-items: center;
     
  }
  h5{
      color: #3d3c3c;
  }
  i{
    margin-left: 2em;
    color: var(--soft-blue);

  }
.mg{
    margin: 0 auto;
}
/* .div-one,
.div-two,
.div-three,
.div-four{
    padding: 1em;
    margin: 0 auto;
} */
h6{
    font-weight:200;
    font-size: 14px;
}
.freq-cont {
    margin: 0 auto; 
}
.FAQ__container{
    margin-bottom: 2em;
}
.stay{
    background-color: var(--soft-blue);
   
    height: 100%;
    padding:2em;
}
.st-container{
    padding: 13px;
}
.st-container span{
    font-size: 12px;
    padding-bottom: 1em;
    line-height: 1em;
    color: rgba(245, 245, 245, 0.911);
    letter-spacing: 3px;
    text-transform:uppercase;
}
.st-container h3{
    width: 300px;
    line-height: 1.5em;
    text-align: center;
    padding: 1em;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 auto;

}
.st-container input{
    padding: 9px 9px;
    /* position: absolute; */
    z-index: var(--zz-index);

}
input{
    outline: none;
}
input::placeholder{
    color: #c0c0c0;
    
}
.contact-btn{
    border: none;
    background-color: rgba(255, 71, 71, 0.877);
    color: whitesmoke;
    margin-left: .8em;

}
.contact-btn:hover{
    color: rgba(204, 65, 65, 0.877);
    background-color: whitesmoke;
}
.validation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vl{
    background-color: rgba(255, 71, 71, 0.877);
    color: whitesmoke;
    width: 190px;
    margin: 0 auto;
    font-size: 10px;
    padding: 8px 0;
    transition: 2s ease-in-out;
    display: none;
}


.suc{
    background-color: rgba(109, 253, 72, 0.877);
    color: whitesmoke;
    width: 190px;
    margin: 0 auto;
    transition: 2s ease-in-out;
    font-size: 10px;
    padding: 8px 0;
    display: none;
}
@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 300ms ease-in-out;
}

details{
    transition: all ease-out var(--details-transition-time,0);
    max-height:var(--details-height-closed,auto);
}
details[open]{
    max-height: var(--details-height-open,auto);
}

details summary{
    display: flex;
    align-items: center;
    text-align:left;
    justify-content: space-between; 
    /* margin-left: 4em; */
    font-size: 13px;
  
    border-bottom: 1px solid #e5e5e5;
    width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 1em;

    font-weight: bold;
    cursor: pointer
}
summary{
    list-style: none;
    text-align: left;
    
}

details[open] summary::after{
    
    color: var(--soft-blue);
    font-size: 16px;
}  

summary img{
    width: 15px;
}
/* .reveal{
    position:initial;
    transform:translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
} */
@media (max-width:760px) {
    body{
        overflow-x: hidden;
    }
    .validation{
        display: block;
    }
    .contact-btn{
        padding: 10px 65px;
        margin-top:1em;
    }
    .vl{
        width: 190px;
        
        font-size: 10px;
    }
    .contact-btn{
        
        margin-left: .1em;
    
    }
    
details summary{
    width: 300px;
}
details p{
    width: 250px;
}
}